* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    padding: 5px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;

}

h1{
    margin-bottom: 2rem;
}
#map{
    width: 100%;
}

.options{
    margin: 2rem auto;
    text-align: center;
}

.text{
    margin: 2rem auto;
    max-width: 450px;
    width: 100%;
}

.opt{
    border: 1px solid black;
    margin: 10px;
    max-width: 250px;
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    cursor: pointer;
}

.timer-main.hide{
    display: none
}
.timer{
    font-weight: bold;
}
.opt:hover{
    background: black;
    color: white;
}